In [23]:
import pandas as pd

estacion_nivel = pd.read_csv('zoneCleaner/estacion_nivel.csv')
meteologica = pd.read_csv('zoneCleaner/meteologica.csv')
pluvio = pd.read_csv('zoneCleaner/pluvio.csv')

In [30]:
codigo_mapping = {
    355: 619,
    207: 619,
    202: 311,
    419: 311,
    249: 4,
    197: 25
}
meteologica['codigo_mapeado'] = meteologica['codigo'].map(codigo_mapping)
pluvio['codigo_mapeado'] = pluvio['codigo']  
estacion_nivel['codigo_mapeado_2'] = 93


merged_1 = pd.merge(
    meteologica,
    pluvio,
    on=['codigo_mapeado', 'fecha_hora'],
    how='inner'
)
merged_1["codigo_mapeado_2"] = 93
final_merged = pd.merge(
    merged_1,
    estacion_nivel,
    on=['codigo_mapeado_2', 'fecha_hora'],
    how='inner'
)

# Mostrar el resultado
final_merged

,codigo_x,fecha_hora,h_promedio,h_std,h_sum,t_promedio,t_std,t_sum,pr_promedio,pr_std,...,p_sum,p_min,p_max,codigo_mapeado_2,codigo,nivel_metros_promedio,nivel_metros_std,nivel_metros_sum,nivel_metros_min,nivel_metros_max
0,197,2022-06-29 14:45:00,60.322667,0.593506,904.84,24.714667,0.105076,370.72,842.491333,0.065232,...,0.0,0.0,0.0,93,93,0.597520,0.006205,8.962799,0.5892,0.6065
1,197,2022-06-29 15:00:00,59.664667,1.366768,894.97,24.759333,0.070353,371.39,842.331333,0.040685,...,0.0,0.0,0.0,93,93,0.596887,0.007073,8.953300,0.5848,0.6141
2,197,2022-06-29 15:15:00,59.628000,0.709368,894.42,24.617333,0.112787,369.26,842.247333,0.075068,...,0.0,0.0,0.0,93,93,0.590020,0.006234,8.850299,0.5794,0.5984
3,197,2022-06-29 15:30:00,59.266667,0.651050,889.00,24.583333,0.106413,368.75,842.081333,0.064128,...,0.0,0.0,0.0,93,93,0.584540,0.005627,8.768099,0.5735,0.5935
4,197,2022-06-29 15:45:00,61.250000,0.883338,918.75,24.980000,0.165357,374.70,841.872000,0.065049,...,0.0,0.0,0.0,93,93,0.581833,0.004773,8.727501,0.5740,0.5913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432475,419,2024-07-19 09:30:00,71.722000,1.025749,1075.83,22.409333,0.128867,336.14,852.318000,0.031893,...,0.0,0.0,0.0,93,93,0.653427,0.002069,9.801399,0.6498,0.6565
432476,419,2024-07-19 09:45:00,67.688667,1.601784,1015.33,22.920667,0.316915,343.81,852.330000,0.044078,...,0.0,0.0,0.0,93,93,0.655467,0.002047,9.832000,0.6517,0.6583
432477,419,2024-07-19 10:00:00,64.669333,0.805468,970.04,23.826667,0.284119,357.40,852.110000,0.118743,...,0.0,0.0,0.0,93,93,0.657493,0.001535,9.862401,0.6549,0.6603
432478,419,2024-07-19 10:15:00,62.563333,1.400019,938.45,24.600000,0.270581,369.00,851.821333,0.118011,...,0.0,0.0,0.0,93,93,0.658673,0.001965,9.880099,0.6550,0.6626
432479,419,2024-07-19 10:30:00,62.754000,0.400475,313.77,24.514000,0.080808,122.57,851.702000,0.008367,...,0.0,0.0,0.0,93,93,0.661417,0.001454,3.968500,0.6596,0.6629

In [31]:
final_merged.to_csv('zoneDev/medellin_clima_2_anios.csv', index=False)

In [25]:
pluvio[pluvio["codigo"]==311]["fecha_hora"].min()

'2022-06-29 14:45:00'

In [27]:
pluvio[pluvio["fecha_hora"]=="2022-06-29 14:45:00"]

,codigo,fecha_hora,p_promedio,p_std,p_sum,p_min,p_max,codigo_mapeado
0,4,2022-06-29 14:45:00,0.0,0.0,0.0,0.0,0.0,4
73285,25,2022-06-29 14:45:00,0.0,0.0,0.0,0.0,0.0,25
146570,311,2022-06-29 14:45:00,0.0,0.0,0.0,0.0,0.0,311
219855,619,2022-06-29 14:45:00,0.0,0.0,0.0,0.0,0.0,619

In [28]:
meteologica[meteologica["fecha_hora"]=="2022-06-29 14:45:00"]

,codigo,fecha_hora,h_promedio,h_std,h_sum,t_promedio,t_std,t_sum,pr_promedio,pr_std,pr_sum,vv_promedio,vv_std,vv_sum,vv_max_promedio,vv_max_std,vv_max_sum,codigo_mapeado
87931,197,2022-06-29 14:45:00,60.322667,0.593506,904.84,24.714667,0.105076,370.72,842.491333,0.065232,12637.37,1.749333,0.483447,26.24,3.026667,0.509154,45.4,25
247942,202,2022-06-29 14:45:00,52.180000,1.515256,782.70,24.806667,0.276371,372.10,849.900000,0.075593,12748.50,1.833333,1.182411,27.50,4.086667,1.370019,61.3,311
407953,207,2022-06-29 14:45:00,66.546667,2.332034,998.20,18.040000,0.145406,270.60,766.346667,0.074322,11495.20,1.260000,0.884631,18.90,2.306667,1.115774,34.6,619
567964,249,2022-06-29 14:45:00,59.467333,1.014548,892.01,23.194667,0.233693,347.92,819.455333,0.114134,12291.83,1.242000,0.739732,18.63,2.240000,1.031504,33.6,4
727975,355,2022-06-29 14:45:00,72.613333,1.135453,1089.20,16.444000,0.232496,246.66,747.317333,0.050634,11209.76,2.177333,0.697900,32.66,3.973333,0.943751,59.6,619
887986,419,2022-06-29 14:45:00,60.657333,0.908354,909.86,24.111333,0.230492,361.67,848.286667,0.090449,12724.30,5.488000,1.837612,82.32,7.557143,1.223937,105.8,311